<h3
  style="text-align: center;">Welcome to crud application...</h3>
  <hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-add-employee 
      (employeeCreated)="addEmployee($event)"
      (employeeEdited)="editeThisEmployee($event)"
      [editEmployee]="editedEmployee"></app-add-employee>
    </div>
    <div class="col-md-8">
      <app-get-employee 
      (employeeDeleted)="deleteEmployee($event)"
      (employeeEdited)="editEmployee($event)"
      [employee]="employeeInfo"></app-get-employee>
    </div>
  </div>
</div>